/*# sourceMappingURL=style.css.map */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
   
}

/* ...existing code... */
.caixa-principal{
    height: 100vh;
    width: 100%;
    background-color: #000000;
    position: relative;       /* necessário para posicionamento absoluto da foto */
    padding: 40px;
     background-size: cover;
   background-position: center;
}


/* corrige a regra inválida e posiciona a imagem à direita */
.foto-eu {
   position: absolute;
   right: 250px;
   top: 55%;
   transform: translateY(-50%);
   border: solid 2px #9b9bee;
   border-radius: 100%;
  
}

.foto-eu img{
   max-width: 100%;
   width: 20vw;
   height: auto;
   border-radius: 8px;
  
}


/* em telas pequenas colocamos a imagem abaixo do conteúdo */
@media (max-width: 700px){
  .foto-eu{
    position: static;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    transform: none;
  }
}
/* ...existing code... */
nav{
    box-shadow: inset 0 -2px 0 rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.Portfolio{
    color: white;
    font-weight: 1000px;
    text-shadow: black 1px 1px 1px;
    font-size: 50px;
}
.Portfolio span{
    color:#00008B;
}

li{
    list-style: none;
    font-size: 25px;
    display: inline-block;
    margin-right: 30px;
    cursor: pointer;
 
}
a{
    text-decoration: none;
    color: white;
}
a:hover {
    color: #0000ca;
    transition: 1.0s;
}

.cargo{
    position: absolute;
    top: 50%;
    left: 7%;
}

.cargo h1{
    color: white;
    font-size: 50px;
}

.cargo h1 span{
    color: #00008B;
}

.cargo h3{
    color: white;;
}

.parte2{
    position: relative;
    align-items: center;
    display: flex;
    color: white;
    background-color: #181818;
   
}
.parte2 p{
    padding: 100px 50px;
    font-size: 20px;
    text-align: center;
    text-align: justify;
}

.parte2 button{
    color: white;
    border-radius: 20px;
    padding: 10px;
    font-size: 20px;
    background-color: #00008B;
    cursor:pointer;
    position: absolute;
    left: 60%;
    border: none;
    border: solid 2px #9b9bee;
}
.parte2 button:hover{
    background-color: #0e0e0e;
    transition: 0.3s;
    
}
.parte2 img{
    height: 800px;
    padding: 80px 0px;
    border-radius: 100%;
   
}

.parte2 h2{
    text-align: center;
    font-size: 60px;
}
.parte2 h2 span{
    color: #00008B;
}

.parte3{
    padding-top: 80px;
    padding-bottom: 60px;
    background-color: #000000;
    color:white;
}

#meus{  
    text-align: center;
    font-size: 75px;
}
#meus span{
    color: #00008B;
}

.FraseInvertida{
    background-color: #181818;
    height: 500px;
    width: 300px;
    border-radius: 20px;
    padding: 20px 35px;
    text-align: center;
   
}
.FraseInvertida p{
    margin-top: 20px;
    margin-bottom: 50px;
}
.FraseInvertida h5{
     font-size: 25px;
}

.SistemaEventosEstudantis{
    background-color: #181818;
    height: 500px;
    width: 300px;
    border-radius: 20px;
    padding: 20px 35px;
    text-align: center;
   
}
.SistemaEventosEstudantis p{
    margin-top: 20px;
    margin-bottom: 50px;
    
}
.SistemaEventosEstudantis h5{
    font-size: 25px;
}

.projetos{
    padding-top: 50px;
    display: flex;
    
    justify-content:space-evenly;
}
.projetos img{
    height: 200px;
    border-radius: 15px;
}
.projetos a{
    padding: 10px;
    border-radius: 20px;
    border:none;
    cursor: pointer;
    border: solid 2px #9b9bee;
    font-size: 20px;

}
.projetos a:hover{
    background-color:#000000;
    transition: 0.3s;
    color: white; 
}

footer{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #181818;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.contato{
    display:flex;
    gap:20px;
}

.contato i{
    border-radius: 50%;
}


footer p{
    margin-top: 30px;
    margin-bottom: 20px;
}
.contato i {
    padding: 10px 10px;
    background-color: white;
    border: solid 2px #9b9bee;  
    font-size: 30px;
    color: #00008B;
    margin: 5px;
}
.contato .bx-envelope {
    color: #00008B; 
}
.contato i:hover {
    background-color: #000000;
    color: white;
    transition: 0.9s; 
}
.direitos{
    background-color: #00008B;
    padding: 20px;
    text-align: center;
    width: 100%;
}